# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js


# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local 
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#backened
/internetMadrasaBackend/node_modules
/internetMadrasaBackend/.pnp
/internetMadrasaBackend/.pnp.js
/internetMadrasaBackend/coverage
/internetMadrasaBackend/.next/
/internetMadrasaBackend/out/
/internetMadrasaBackend/build
/internetMadrasaBackend/.DS_Store
/internetMadrasaBackend/*.pem
/internetMadrasaBackend/npm-debug.log*
/internetMadrasaBackend/yarn-debug.log*
/internetMadrasaBackend/yarn-error.log*
/internetMadrasaBackend/.env*.local
/internetMadrasaBackend/config.env  
/internetMadrasaBackend/.vercel
/internetMadrasaBackend/*.tsbuildinfo
/internetMadrasaBackend/next-env.d.ts
