.wrapperQuiz {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
}

.wrapperQuiz h1 {
  text-align: center;
  font-family: sans-serif;
  background: green;
  color: #fff;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 20px !important;
  width: 90%;
  margin: auto;
}

.wrapperQuiz #question {
  font-family: sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.wrapperQuiz .buttons {
  margin-top: 30px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapperQuiz #btn0,
.wrapperQuiz #btn1,
.wrapperQuiz #btn2,
.wrapperQuiz #btn3 {
  background-color: #778797;
  width: 100%;
  font-size: 16px;
  color: #fff;
  border: 1px solid #1d3c6a;
  padding: 10px;
  margin: 10px auto;
  border-radius: 50px;
}
.wrapperQuiz #btn0:hover,
.wrapperQuiz #btn1:hover,
.wrapperQuiz #btn2:hover,
.wrapperQuiz #btn3:hover {
  background: green;
  cursor: pointer;
}

.wrapperQuiz #btn0:focus,
.wrapperQuiz #btn1:focus,
.wrapperQuiz #btn2:focus,
.wrapperQuiz #btn3:focus {
  outline: 0;
}

.wrapperQuiz #progress {
  font-size: 18px;
  color: #ffffff;
  padding-top: 10px;
  width: 90%;
  margin: auto;
}

.wrapperQuiz .progress-number {
  padding: 0px;
  border: 1px solid #fff;
  background-color: green;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
}

.question {
  width: 90%;
  margin: auto;
}
#score {
  color: white;
  margin-top: 20px;
}
.yes:hover {
  background-color: aquamarine;
}

.no:hover {
  background-color: aquamarine;
}

@media only screen and (max-width: 768px) {
  .wrapperQuiz .buttons {
    flex-direction: column;
  }
  .wrapperQuiz #progress {
    text-align: center;
  }
  .wrapperQuiz {
    margin-top: 20px;
  }
}
