.customVideoGallery {
  background: rgb(247, 247, 247) none repeat scroll 0% 0% / auto padding-box
    border-box;
}
.customVideoGallery figure {
  margin: 0;
  padding: 0;
}
.customVideoGallery p,
.customVideoGallery ol {
  width: 70%;
  margin: 2.5% auto;
  padding-left: 20px;
}
@media (max-width: 1024px) {
  .customVideoGallery p,
  .customVideoGallery ol {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .customVideoGallery p,
  .customVideoGallery ol {
    width: 100%;
  }
}
.customVideoGallery ul li,
.customVideoGallery ol li {
  margin: 20px 0;
}
.customVideoGallery p,
.customVideoGallery ul {
  padding-left: 0;
}
.customVideoGallery header {
  margin-bottom: 5%;
}
.customVideoGallery h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}
@media (max-width: 1024px) {
  .customVideoGallery h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .customVideoGallery h1 {
    font-size: 28px;
  }
}
.customVideoGallery h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 8px;
  margin: 0;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .customVideoGallery h2 {
    font-size: 15px;
  }
}
.customVideoGallery pre,
.customVideoGallery code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 16px;
  line-height: 2;
  overflow: auto;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .customVideoGallery pre,
  .customVideoGallery code {
    width: 100%;
    font-size: 14px;
  }
}
.customVideoGallery code {
  padding: 5px;
  vertical-align: 3px;
  white-space: nowrap;
}
.customVideoGallery a {
  color: #fff;
  text-decoration: none;
  border-bottom: dotted 2px #fff;
}
.customVideoGallery a:hover,
.customVideoGallery a:active,
.customVideoGallery a:focus {
  color: #fff;
  border-bottom: solid 2px #fff;
}
.customVideoGallery section {
  padding: 5% 0%;
  width: 100%;
}
.customVideoGallery .first {
  background: url(/images/abacus1.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.customVideoGallery .first p {
  width: 50%;
  margin: 10% auto;
  text-align: center;
}
@media (max-width: 768px) {
  .customVideoGallery .first p {
    width: 90%;
  }
}
.customVideoGallery .buttons {
  list-style-type: none;
  text-align: center;
}
.customVideoGallery .buttons li {
  display: inline-block;
  margin: 0 25px;
  padding: 0;
}
@media (max-width: 768px) {
  .customVideoGallery .buttons li {
    display: block;
    margin: 50px auto 0;
  }
}
.customVideoGallery .buttons li a {
  font-size: 30px;
  color: #fff;
  padding: 20px;
  background: #bc8542;
  border: 2px solid #bc8542;
  border-radius: 10px;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  .customVideoGallery .buttons li a {
    padding: 15px;
    font-size: 22px;
  }
}
.customVideoGallery .buttons li a:hover,
.customVideoGallery .buttons li a:active,
.customVideoGallery .buttons li a:focus {
  background: none;
  border: 2px solid #fff;
}
.customVideoGallery .second {
  background: transparent;
  width: 1200px;
  margin: 0px auto;
}
.customVideoGallery .second h1 {
  color: #555;
}
.customVideoGallery .third {
  background: #7c8b78;
}
.customVideoGallery .third pre,
.customVideoGallery .third code {
  color: #1a1e19;
  text-shadow: 0 1px 0 #7c8b78;
  background: #6a7766;
}
.customVideoGallery .fourth {
  background: #bc8542;
}
.customVideoGallery .fourth pre,
.customVideoGallery .fourth code {
  color: #251a0d;
  text-shadow: 0 1px 0 #bc8542;
  background: #a07138;
}
.customVideoGallery .fifth {
  background: #4892b5;
}
.customVideoGallery .fifth pre,
.customVideoGallery .fifth code {
  color: #0e1c23;
  text-shadow: 0 1px 0 #4892b5;
  background: #3d7c9a;
}
.customVideoGallery .sixth {
  background: #bb4b79;
}
.customVideoGallery .sixth pre,
.customVideoGallery .sixth code {
  color: #2a101b;
  text-shadow: 0 1px 0 #bb4b79;
  background: #a23d67;
}
.customVideoGallery .video {
  background: #fff;
  padding-bottom: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 380px;
  margin: 10px;
  float: left;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 1366px) {
  .customVideoGallery .video {
    width: 23%;
  }
}
@media (max-width: 1024px) {
  .customVideoGallery .video {
    width: 31.333%;
  }
}
@media (max-width: 768px) {
  .customVideoGallery .video {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .customVideoGallery .video {
    display: block;
    width: 96%;
    margin: 2%;
    float: none;
  }
}
.customVideoGallery .video figure {
  height: 0;
  padding-bottom: 60%;
}
.customVideoGallery .video img {
  width: 100%;
  opacity: 1;
}
.customVideoGallery .video img:hover,
.customVideoGallery .video img:active,
.customVideoGallery .video img:focus {
  opacity: 0.75;
}
.customVideoGallery img {
  max-width: 100%;
  height: auto;
}
.customVideoGallery .clearfix {
  content: "";
  display: table;
  clear: both;
}
.customVideoGallery footer {
  clear: both;
  background: #2b4f71;
  margin: 0;
  padding: 5%;
  text-align: center;
}
.customVideoGallery .scroll-top:hover {
  color: #fff !important;
  background-color: #333;
  text-decoration: none;
  border-bottom: none;
}
.customVideoGallery .scroll-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 2;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-bottom: none;
  text-align: center;
  cursor: pointer;
}
.customVideoGallery .fancybox-close {
  border-bottom: none;
}
.customVideoGallery .fancybox-close:hover,
.customVideoGallery .fancybox-close:active,
.customVideoGallery .fancybox-close:focus {
  border-bottom: none;
} /*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.customVideoGallery .fancybox-wrap,
.customVideoGallery .fancybox-skin,
.customVideoGallery .fancybox-outer,
.customVideoGallery .fancybox-inner,
.customVideoGallery .fancybox-image,
.customVideoGallery .fancybox-wrap iframe,
.customVideoGallery .fancybox-wrap object,
.customVideoGallery .fancybox-nav,
.customVideoGallery .fancybox-nav span,
.customVideoGallery .fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.customVideoGallery .fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.customVideoGallery .fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.customVideoGallery .fancybox-opened {
  z-index: 8030;
}
.customVideoGallery .fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.customVideoGallery .fancybox-outer,
.customVideoGallery .fancybox-inner {
  position: relative;
}
.customVideoGallery .fancybox-inner {
  overflow: hidden !important;
}
.customVideoGallery .fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.customVideoGallery .fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.customVideoGallery .fancybox-image,
.customVideoGallery .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.customVideoGallery .fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
.customVideoGallery #fancybox-loading,
.customVideoGallery .fancybox-close,
.customVideoGallery .fancybox-prev span,
.customVideoGallery .customVideoGallery .fancybox-next span {
  background-image: url("/images/abacus1.jpg");
}
.customVideoGallery #fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
.customVideoGallery #fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/images/abacus1.jpg") center center no-repeat;
}
.customVideoGallery .fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.customVideoGallery .fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/images/abacus1.jpg");
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}
.customVideoGallery .fancybox-prev {
  left: 0;
}
.customVideoGallery .fancybox-next {
  right: 0;
}
.customVideoGallery .fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.customVideoGallery .fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.customVideoGallery .fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.customVideoGallery .fancybox-nav:hover span {
  visibility: visible;
}
.customVideoGallery .fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.customVideoGallery .fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.customVideoGallery .fancybox-lock body {
  overflow: hidden !important;
}
.customVideoGallery .fancybox-lock-test {
  overflow-y: hidden !important;
}
.customVideoGallery .fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/images/abacus1.jpg");
}
.customVideoGallery .fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.customVideoGallery .fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.customVideoGallery .fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.customVideoGallery .fancybox-opened .fancybox-title {
  visibility: visible;
}
.customVideoGallery .fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.customVideoGallery .fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.customVideoGallery .fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.customVideoGallery .fancybox-title-inside-wrap {
  padding-top: 10px;
}
.customVideoGallery .fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  .customVideoGallery #fancybox-loading,
  .customVideoGallery .fancybox-close,
  .customVideoGallery .fancybox-prev span,
  .customVideoGallery .fancybox-next span {
    background-image: url("/images/abacus1.jpg");
    background-size: 44px 152px;
  }
  .customVideoGallery #fancybox-loading div {
    background-image: url("/images/abacus1.jpg");
    background-size: 24px 24px;
  }
}
@media only screen and (max-width: 960px) {
  .customVideoGallery .second {
    width: 80%;
  }
  .customVideoGallery .video {
    width: 30%;
  }
}
@media only screen and (max-width: 540px) {
  .customVideoGallery .second {
    width: 90%;
  }

  .customVideoGallery .video {
    width: 90%;
    margin: 5%;
  }
  .customVideoGallery h1 {
    font-size: 24px;
  }
}
