.AboutSection {
  padding: 50px 0px 30px;
  background: rgb(247, 247, 247) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border-bottom: 1px solid rgb(224, 222, 222);
  margin: 0px;
  box-sizing: border-box;
  display: block;
}

.AboutSection .style-1 {
  max-width: 1200px;
  margin: 0px 381.5px;
  padding: 0px 15px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.AboutSection .style-2 {
  margin: 0px -15px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.AboutSection .style-3 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.AboutSection .style-4 {
  background: rgb(232, 232, 232) none repeat scroll 0% 0% / auto padding-box
    border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-5 {
  height: 390px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
  border-style: none;
}

.AboutSection .style-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media only screen and (max-width: 540px) {
  .AboutSection .style-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
  }
  .AboutSection .style-6 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
  }
}

.AboutSection .style-7 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-8 {
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
  margin: 0px 0px 20px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 43.2px;
  color: rgb(94, 94, 94);
  margin-top: 0px;
}

.AboutSection .style-9 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-10 {
  margin: 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 16px;
}

.AboutSection .style-11 {
  margin: 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 16px;
}

.AboutSection .style-12 {
  margin: 0px -15px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.AboutSection .style-13 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.AboutSection .style-14 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-15 {
  margin-bottom: 15px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-16 {
  font-weight: 900;

  display: block;
  font-style: normal;
  font-variant: normal;
  line-height: 40px;
  text-rendering: auto;
  height: 40px;
  width: 40px;
  font-size: 18px;
  background: rgb(0, 166, 118) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-17 {
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgb(94, 94, 94);
  text-transform: capitalize;
  margin: 0px 0px 30px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 43.2px;
  margin-top: 0px;
}

.AboutSection .style-18 {
  margin: 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 16px;
}

.AboutSection .style-19 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 540px) {
  .AboutSection .style-2 {
    justify-content: center;
  }
  .AboutSection .style-3 {
    flex: 0 0 100%;
    max-width: 90%;
    margin-top: 50px;
  }
  .AboutSection .style-6 {
    flex: 0 0 100%;
    max-width: 90%;
    margin-top: 50px;
  }
  .AboutSection .style-12 {
    justify-content: center;
  }
  .AboutSection .style-13 {
    flex: 0 0 100%;
    max-width: 90%;
    margin-top: 50px;
  }
  .AboutSection .style-19 {
    flex: 0 0 100%;
    max-width: 90%;
    margin-top: 50px;
  }
}

.AboutSection .style-20 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-21 {
  margin-bottom: 15px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-22 {
  font-weight: 900;

  display: block;
  font-style: normal;
  font-variant: normal;
  line-height: 40px;
  text-rendering: auto;
  height: 40px;
  width: 40px;
  font-size: 18px;
  background: rgb(0, 166, 118) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.AboutSection .style-23 {
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgb(94, 94, 94);
  text-transform: capitalize;
  margin: 0px 0px 30px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 43.2px;
  margin-top: 0px;
}

.AboutSection .style-24 {
  margin: 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 16px;
}
