.hifzResult {
  width: 1200px;
  padding: 0px 0px 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .hifzResult {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 10px;
  }
}

.hifzResult .style-6 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
  margin: 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.hifzResult .style-7 {
  margin-bottom: 30px;
  text-align: center;
  background: #013030;
  padding: 20px 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px 0px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.hifzResult .style-7:hover {
  scale: 105%;
}

.hifzResult .style-8 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hifzResult .style-9 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid rgb(0, 166, 118);
  margin-bottom: 5px;
  margin: 10px auto;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
  border-style: solid;
  background-color: #fff;
}

.hifzResult .style-10 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 198px;
  overflow-y: scroll;
  transition: 0.5s ease-out !important;
}
.hifzResult .style-10::-webkit-scrollbar {
  display: none;
}
.hifzResult .style-10 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hifzResult .style-10:hover {
  transition: 0.5s ease-out !important;
  height: auto;
}

.hifzResult .style-11 {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
  margin: 0px 0px 10px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  color: #fff;
}

.hifzResult .style-12 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  margin: 0px 0px 10px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  line-height: 18px;
  color: #fff;
  margin-top: 0px;
}

.hifzResult .style-13 {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 15px;
  margin: 0px 0px 15px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  color: #fff;
}

.style-14h1 {
  font-family: "PT Sans", sans-serif;

  font-weight: 700;

  text-transform: capitalize;

  padding: 100px 0px 0px 0px;
  box-sizing: border-box;

  line-height: 56px;
  font-size: 44px;
  margin-bottom: 50px;
  color: rgb(17, 24, 39);
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .hifzResult {
    flex-direction: column;
    padding: 30px 0px 0px 0px;
  }

  .hifzResult .style-6 {
    max-width: 100vw;

    padding: 0px 5px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .style-14h1 {
    font-size: 16px;
    width: 90%;
    margin: auto;
    line-height: 22px;
  }
}
