.buttonComponent {
  max-width: 200px;

  margin: auto;
  padding: 0px 0px 100px 0px;
}

.buttonComponent a.buttonLinkText {
  color: #bea256;
  font-weight: 900;

  gap: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none solid rgb(255, 255, 255);
 
  box-sizing: border-box;
  text-transform: uppercase;

  cursor: pointer;
  color: rgb(255, 255, 255);
  -webkit-text-decoration: none solid rgb(255, 255, 255);
  text-decoration: none solid rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: rgb(142, 96, 47);
  text-transform: uppercase;
  background: rgb(142, 96, 47) none repeat scroll 0% 0% / auto padding-box
    border-box;
  padding: 6px 13px;
  border-radius: 30px;
  font-size: 11px;
  transition: all 0.1s ease-in 0s;
}
@media only screen and (max-width: 600px) {
  .buttonComponent {
    max-width: 180px;
    margin: auto;

    padding: 10px 0px 10px 0px;
  }
  .buttonComponent a.buttonLinkText {
    font-size: 10px !important;
  }
}
