#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 85%;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  color: white;
  font-weight: 900;
}
.swiper-button-next {
  color: white;
  font-weight: 900;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #fff;
}
@media only screen and (max-width: 540px) {
  .swiper-pagination-bullet {
    display: none;
  }
}
