.aboutAbacus {
  background: rgb(247, 247, 247) none repeat scroll 0% 0% / auto padding-box
    border-box;
  background-image: url("https://abacuspro.in/images/cta-2-bg-1-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  display: block;
  box-sizing: border-box;
}

.aboutAbacus .style-1 {
  max-width: 1200px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.aboutAbacus .style-2 {
  position: absolute;
  bottom: 20%;
  right: -30px;
  animation: 5s ease-in-out 0s infinite alternate none running featureImgBounce;
  box-sizing: border-box;
}

.aboutAbacus .style-3 {
  position: absolute;
  top: -20px;
  right: 20px;
  z-index: -2;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

.aboutAbacus .style-4 {
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

.aboutAbacus .style-5 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.aboutAbacus .style-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.aboutAbacus .style-7 {
  box-sizing: border-box;
}

.aboutAbacus .style-8 {
  margin-bottom: 60px;
  text-align: left;
  box-sizing: border-box;
}

.aboutAbacus .style-9 {
  display: none;
  margin: -5px 0px 0px;
  color: rgb(31, 191, 244);
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-top: -5px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.aboutAbacus .style-10 {
  margin: 20px 0px -5px;
  font-size: 46px;
  font-weight: 800;
  color: rgb(28, 29, 63);
  line-height: 46px;
  margin-bottom: -5px;
  margin-top: 20px;
  box-sizing: border-box;
}

.aboutAbacus .style-11 {
  margin: -15px 0px 0px;
  color: rgb(123, 123, 140);
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  margin-top: -15px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.aboutAbacus .style-12 {
  box-sizing: border-box;
}

.aboutAbacus .style-13 {
  box-sizing: border-box;
}

.aboutAbacus .style-14 {
  box-sizing: border-box;
}

.aboutAbacus .style-15 {
  box-sizing: border-box;
}

.aboutAbacus .style-16 {
  box-sizing: border-box;
}

.aboutAbacus .style-17 {
  box-sizing: border-box;
}

.aboutAbacus .style-18 {
  box-sizing: border-box;
}

.aboutAbacus .style-19 {
  display: none;
  font-size: 18px;
  padding: 18px 58px;
  border-radius: 35px;
  background-color: rgb(255, 197, 22);
  color: rgb(28, 29, 63);
  margin-top: 55px;
  vertical-align: middle;
  border: 0px none rgb(28, 29, 63);
  outline: rgb(28, 29, 63) none 0px;
  font-weight: 600;
  transition: all 0.4s ease 0s;
  text-decoration: none solid rgb(28, 29, 63);
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  .aboutAbacus .style-4 {
    width: 400px;
    margin-left: -55px;
  }
}

@media only screen and (max-width: 540px) {
  .aboutAbacus .style-1 {
    display: flex;
    flex-direction: column;
  }
  .aboutAbacus .style-6 {
    flex: 0 0 100%;
    max-width: 100%;

    width: 100%;
  }
  .aboutAbacus .style-2 {
    position: unset;
    width: 100%;
    margin: auto;
  }
  .aboutAbacus .style-10 {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
  }
  .aboutAbacus .style-11 {
    font-size: 16px;
  }
  .aboutAbacus .style-1 {
    width: 90%;
  }
  .aboutAbacus .style-4 {
    margin-left: unset;
  }
}
