.countDownContainer {
  position: relative;
  height: 240px;
}

#countdown {
  width: 465px;
  height: 156px;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 24px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#countdown:before {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}

#countdown:after {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  right: -10px;
}
@media screen and (max-width: 600px) {
  .countDownContainer {
    height: 190px;
  }
}

#countdown #tiles {
  position: relative;
  z-index: 1;
}

#countdown #tiles > span {
  width: 92px;
  max-width: 92px;
  font: bold 48px "Droid Sans", Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image: -moz-linear-gradient(top, #bbb, #eee);
  background-image: -ms-linear-gradient(top, #bbb, #eee);
  background-image: -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown #tiles > span:before {
  content: "";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}

#countdown #tiles > span:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

#countdown .labels {
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

#countdown .labels li {
  width: 102px;
  font: bold 15px "Droid Sans", Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
.grandOut {
  background: url("/images/pattern.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.counterFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.CounterContWrap {
  position: relative;
  width: 33.33%;
}
.otherSection1 {
  width: 33.33%;
  display: flex;
}
.otherSection2 {
  width: 33.33%;
}
@media only screen and (max-width: 1500px) {
  .CounterContWrap {
    width: 50%;
  }
  .otherSection1 {
    width: 15%;
  }
  .otherSection2 {
    width: 35%;
  }
}
@media only screen and (max-width: 1100px) {
  .CounterContWrap {
    width: 100%;
  }
  .otherSection1 {
    width: 50%;
  }
  .otherSection2 {
    width: 50%;
  }
}
@media only screen and (max-width: 540px) {
  .CounterContWrap {
    width: 100%;
    scale: 80%;
  }
  .otherSection1 {
    width: 100%;
    padding: 0px 10%;
  }
  .otherSection2 {
    width: 90%;
    margin-top: 10px;
  }
  #countdown {
    width: 360px;
  }
  h1.counterContainer {
    width: 360px !important;
    font-size: 29px !important;
    letter-spacing: 0px !important;
  }
  @media only screen and (max-width: 600px) {
    h1.counterContainer {
      width: 90% !important;
      font-size: 16px !important;
      letter-spacing: 0px !important;
    }
  }
  #countdown #tiles > span {
    width: 75px;
    max-width: 92px;
    font-size: 40px;
  }
  #countdown .labels li {
    width: 85px;
  }
  .counterFlex {
    padding: 0px;
  }
}

h1.counterContainer {
  font-family: consolas;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #fff;
  white-space: wrap;
  width: 465px;
  margin: 0px auto;
}

@media only screen and (max-width: 320px) {
  h1.counterContainer {
    font-size: 14px !important;
  }
}

.counterFlex .style-60 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 60px;
  padding-left: 15px;
  text-align: center;
  box-sizing: border-box;
  height: 400px;
  padding-top: 10px;
}

.counterFlex .style-61 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
  font-family: "open sans", tahoma, arial;
  line-height: 26.4px;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .counterFlex .style-61 {
    font-size: 16px;
  }
}

.counterFlex .style-62 {
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-spacing: 0px 0px;
  border-collapse: collapse;
}

.counterFlex .style-63 {
  box-sizing: border-box;
}

.counterFlex .style-63 img {
  width: 62px;
  padding: 10px;
}

.counterFlex .style-64 {
  box-sizing: border-box;
}

.counterFlex .style-65 {
  box-sizing: border-box;
  padding: 0px;
}

.counterFlex .style-66 {
  vertical-align: middle;
  box-sizing: border-box;
  border: 0px none rgb(51, 51, 51);
}

.counterFlex .style-67 {
  text-align: left;
  box-sizing: border-box;
  padding: 0px;
}
@media only screen and (max-width: 600px) {
  .counterFlex .style-63 img {
    padding: 0px;
  }
  .counterFlex .style-67 {
    padding-left: 10px;
  }
}

.counterFlex .style-68 {
  font-size: 16px;
  box-sizing: border-box;
}

.counterFlex .style-69 {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none solid rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}

.counterFlex .style-70 {
  box-sizing: border-box;
}

.counterFlex .style-71 {
  box-sizing: border-box;
  padding: 0px;
}

.counterFlex .style-72 {
  vertical-align: middle;
  box-sizing: border-box;
  border: 0px none rgb(51, 51, 51);
}

.counterFlex .style-73 {
  text-align: left;
  box-sizing: border-box;
  padding: 0px;
}

.counterFlex .style-74 {
  font-size: 16px;
  box-sizing: border-box;
}

.counterFlex .style-75 {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none solid rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}

.counterFlex .style-76 {
  box-sizing: border-box;
}

.counterFlex .style-77 {
  box-sizing: border-box;
  padding: 0px;
}

.counterFlex .style-78 {
  vertical-align: middle;
  box-sizing: border-box;
  border: 0px none rgb(51, 51, 51);
}

.counterFlex .style-79 {
  text-align: left;
  box-sizing: border-box;
  padding: 0px;
}

.counterFlex .style-80 {
  font-size: 16px;
  box-sizing: border-box;
}

.counterFlex .style-81 {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none solid rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 600px) {
  .counterFlex .style-63 img {
    padding: 0px;
  }
  .counterFlex .style-67 {
    padding-left: 10px;
  }
  .counterFlex .style-73 {
    padding-left: 10px;
  }
  .counterFlex .style-79 {
    padding-left: 10px;
  }
  .counterFlex .style-60 {
    margin: auto;

    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .counterFlex .style-63 img {
    width: 24px;
  }
  .counterFlex .style-61 {
    margin-bottom: 10px;

    font-size: 16px;
    margin-top: 10px;
    font-weight: 900;
  }
  .counterFlex .style-60 {
    height: 230px;
  }
}
