.multiplicationSection {
  padding-top: 120px;
  display: block;
  box-sizing: border-box;
  padding-bottom: 120px;
}

.multiplicationSection .style-1 {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.multiplicationSection .style-2 {
  margin-bottom: 60px;
  text-align: center;
  box-sizing: border-box;
}

.multiplicationSection .style-3 {
  margin: -5px 0px 0px;
  color: rgb(31, 191, 244);
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-top: -5px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.multiplicationSection .style-4 {
  margin: 20px 0px -5px;
  font-size: 46px;
  font-weight: 800;
  color: rgb(28, 29, 63);
  line-height: 46px;
  margin-bottom: -5px;
  margin-top: 20px;
  box-sizing: border-box;
}

.multiplicationSection .style-5 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  box-sizing: border-box;
}

.multiplicationSection .style-6 {
  -webkit-box-flex: 1;
  flex: 1 1 20%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.multiplicationSection .style-7 {
  border: 2px solid rgb(239, 240, 249);
  text-align: center;
  position: relative;
  padding-top: 46.5px;
  padding-bottom: 46.5px;
  transition: all 0.4s ease 0s;
  box-sizing: border-box;
}

.multiplicationSection .style-8 {
  margin-top: -10px;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.multiplicationSection .style-9 {
  margin: 20px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(28, 29, 63);
  margin-bottom: 0px;
  line-height: 19.2px;
  margin-top: 20px;
  box-sizing: border-box;
}

.multiplicationSection .style-10 {
  color: rgb(28, 29, 63);
  transition: all 0.4s ease 0s;
  text-decoration: none solid rgb(28, 29, 63);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.multiplicationSection .style-11 {
  -webkit-box-flex: 1;
  flex: 1 1 20%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.multiplicationSection .style-12 {
  border: 2px solid rgb(239, 240, 249);
  text-align: center;
  position: relative;
  padding-top: 46.5px;
  padding-bottom: 46.5px;
  transition: all 0.4s ease 0s;
  box-sizing: border-box;
}

.multiplicationSection .style-13 {
  margin-top: -10px;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.multiplicationSection .style-14 {
  margin: 20px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(28, 29, 63);
  margin-bottom: 0px;
  line-height: 19.2px;
  margin-top: 20px;
  box-sizing: border-box;
}

.multiplicationSection .style-15 {
  color: rgb(28, 29, 63);
  transition: all 0.4s ease 0s;
  text-decoration: none solid rgb(28, 29, 63);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.multiplicationSection .style-16 {
  -webkit-box-flex: 1;
  flex: 1 1 20%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.multiplicationSection .style-17 {
  border: 2px solid rgb(239, 240, 249);
  text-align: center;
  position: relative;
  padding-top: 46.5px;
  padding-bottom: 46.5px;
  transition: all 0.4s ease 0s;
  box-sizing: border-box;
}

.multiplicationSection .style-18 {
  margin-top: -10px;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.multiplicationSection .style-19 {
  margin: 20px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(28, 29, 63);
  margin-bottom: 0px;
  line-height: 19.2px;
  margin-top: 20px;
  box-sizing: border-box;
}

.multiplicationSection .style-20 {
  color: rgb(28, 29, 63);
  transition: all 0.4s ease 0s;
  text-decoration: none solid rgb(28, 29, 63);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.multiplicationSection .style-21 {
  -webkit-box-flex: 1;
  flex: 1 1 20%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.multiplicationSection .style-22 {
  border: 2px solid rgb(239, 240, 249);
  text-align: center;
  position: relative;
  padding-top: 46.5px;
  padding-bottom: 46.5px;
  transition: all 0.4s ease 0s;
  box-sizing: border-box;
}

.multiplicationSection .style-23 {
  margin-top: -10px;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.multiplicationSection .style-24 {
  margin: 20px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(28, 29, 63);
  margin-bottom: 0px;
  line-height: 19.2px;
  margin-top: 20px;
  box-sizing: border-box;
}

.multiplicationSection .style-25 {
  color: rgb(28, 29, 63);
  transition: all 0.4s ease 0s;
  text-decoration: none solid rgb(28, 29, 63);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.multiplicationSection .style-26 {
  -webkit-box-flex: 1;
  flex: 1 1 20%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.multiplicationSection .style-27 {
  border: 2px solid rgb(239, 240, 249);
  text-align: center;
  position: relative;
  padding-top: 46.5px;
  padding-bottom: 46.5px;
  transition: all 0.4s ease 0s;
  box-sizing: border-box;
}

.multiplicationSection .style-28 {
  margin-top: -10px;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.multiplicationSection .style-29 {
  margin: 20px 0px 0px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(28, 29, 63);
  margin-bottom: 0px;
  line-height: 19.2px;
  margin-top: 20px;
  box-sizing: border-box;
}

.multiplicationSection .style-30 {
  color: rgb(28, 29, 63);
  transition: all 0.4s ease 0s;
  text-decoration: none solid rgb(28, 29, 63);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

@media only screen and (max-width: 540px) {
  .multiplicationSection .style-6 {
    flex: 50%;
    margin-bottom: 20px;
  }
  .multiplicationSection .style-11 {
    flex: 50%;
    margin-bottom: 20px;
  }
  .multiplicationSection .style-16 {
    flex: 50%;
    margin-bottom: 20px;
  }
  .multiplicationSection .style-21 {
    flex: 50%;
    margin-bottom: 20px;
  }
  .multiplicationSection .style-26 {
    flex: 50%;
    margin-bottom: 20px;
  }
  .multiplicationSection .style-4 {
    font-size: 24px;
  }
  .multiplicationSection .style-1 {
    width: 90%;
  }
  .multiplicationSection .style-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .multiplicationSection .style-12 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .multiplicationSection .style-17 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .multiplicationSection .style-22 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .multiplicationSection .style-27 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
